[submodule "submodules/slate-ansible"]
	path = submodules/slate-ansible
	url = https://github.com/slateci/slate-ansible.git
[submodule "submodules/kubespray"]
	path = submodules/kubespray
	url = https://github.com/kubernetes-sigs/kubespray.git
